#title {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#large-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:black;
    background-color: white;
  }

  #info-box{
    width: 300px;
    height: 300px;
    margin: 20px;
    color: black;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
  }

  #info{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 25px;
  }

  #search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25 rem
  }

  input {
    font-size: 1rem;
  }

  .hide {
    display:none;
  }

#fact-label {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25 px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#fact-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25 px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

#facts {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}